/*----------------------------------------FOOTER------------------------------------------*/

//footerContainer
.footerContainer{
    background-color: #143F6B;

    //Start app class
    .appSection{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10em;

        img{
            margin: 1em;
            width: auto;
            height: 5.5em;
        }
    }
    //End app class
    //Start socialNetworks class
    .socialNetworks{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8em;

        a{
            img{
                margin: 2em;
                width: 4.0em;
                height: auto;
            }
        }
    }
    //End socialNetwors class
    //Start lineOne class
    .lineOne{
        display: block;
        width: 60rem;
        margin: 0 auto;
    }
    //End lineOne class
    //Start otherWebSites class
    .otherWebsites{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8em;

        img{
            margin: 2em;
            width: auto;
            height: 4em;
        }
    }
    //End otherWebSites class
    //Start lineTwo class
    .lineTwo{
        display: block;
        width: 81rem;
        margin: 0 auto;
    }
    //End lineTwo class
    //Start firstFooterText class
    .firtsFooterText{
        display: flex;
        justify-content: center;
        width: 80rem;
        height: auto;
        color: aliceblue;
        font-family: "PTSerif-Bold";
        font-size: 1.1rem;
        text-align: center;
        margin: 1rem auto;
    }
    //End firstFooterText class
    //Start secondFooterText class
    .secondFooterText{
        display: flex;
        justify-content: center;
        color: aliceblue;
        width: 80rem;
        height: auto;
        font-family: "PTSerif-Bold";
        font-size: 1.1rem;
        text-align: center;
        margin: 1rem auto;
    }
    //End secondFooterText class
    //Start thirdFooterText class
    .thirdFooterText{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#ECECEC;
        font-family: "PTSerif-Bold";;
        font-size: 1.1rem;
        margin: 1rem;
        img{
            margin: 1rem;
        }
    }
    //End thirdFooterText class
    //----------------------------------------------
    //Start responsive class
    @media (max-width: 450px){
        footer{
            .lineOne{
                width: 48rem;
            }
            .otherWebsites{
                img{
                    margin: 0.5em;
                    height: 3em;
                }
            }
            .lineTwo{
                width: 48rem;
            }
            .firtsFooterText{
                width: 44rem;
            }
            .secondFooterText{
                width: 43em;
            }
            .thirdFooterText{
                width: 2em;
                height: auto;
            }
        }
    }
    //-----------------------------------------------
    @media (min-width: 451px) and (max-width: 600px){
        footer{
            .lineOne{
                width: 50rem;
            }
            .otherWebsites{

                img{
                    margin: .2em;
                    height: 3.5em;
                }
            }
            .lineTwo{
                width: 50rem;
            }
            .firtsFooterText{
                width: 50rem;
            }
            .secondFooterText{
                width: 50rem;
            }
            .thirdFooterText{

                img{
                    width: 2em;
                    height: auto;
                }
            }
        }
    }
    //-------------------------------------------------
    @media (min-width: 601px) and (max-width: 960px){
        footer{
            .lineOne{
                width: 60rem;
            }
            .otherWebsites{
                img{
                    margin: 1em;
                }
            }
            .lineTwo{
                width: 65rem;
            }
            .firtsFooterText{
                width: 65rem;
            }
            .secondFooterText{
                width: 60rem;
            }
        }
    }
    //End responsive class
}