/*------------------------------MAIN-playBrinco------------------------------*/

@import '../base/variables';

main{
    .mainPlayBrinco__title{
        @extend %title;
    }
    .mainPlayBrinco__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlayBrinco__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainPlayBrinco__title class*/