/*------------------------------MAIN-playCityLottery------------------------------*/
/*Start mainPlayCityLottery__title class*/
@import '../base/variables';

main{
    .mainPlayCityLottery__title{
        @extend %title;
    }
    .mainPlayCityLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlayCityLottery__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainPlayCityLottery__title class*/