/*------------------------------MAIN-playLottoPlus------------------------------*/
/*Start mainPlayLottoPlus__title class*/
@import '../base/variables';

main{
    .mainPlayLottoPlus__title{
        @extend %title;
    }
    .mainPlayLottoPlus__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlayLottoPlus__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainPlayLottoPlus__title class*/