/*------------------------------MAIN-playNationalLottery------------------------------*/
/*Start mainPlayNationalLottery__title class*/
@import '../base/variables';

main{
    .mainPlayNationalLottery__title{
        @extend %title;
    }
    .mainPlayNationalLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlayNationalLottery__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}

/*End mainPlayNationalLottery__title class*/