/*------------------------------MAIN-playSantaFeLottery------------------------------*/
/*Start mainPlaySantaFeLottery__title class*/
@import '../base/variables';

main{
    .mainPlaySantaFeLottery__title{
        @extend %title;
    }
    .mainPlaySantaFeLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlaySantaFeLottery__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}

/*End mainPlaySantaFeLottery__title class*/