/*------------------------------MAIN-playQuini6------------------------------*/
/*Start mainPlayQuini6__title class*/
@import '../base/variables';

main{
    .mainPlayQuini6__title{
        @extend %title;
    }
    .mainPlayQuini6__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlayQuini6__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainPlayQuini6__title class*/