/*------------------------------MAIN-playCordobaLottery------------------------------*/
/*Start mainPlayCordobaLottery__title class*/
@import '../base/variables';

main{
    .mainPlayCordobaLottery__title{
        @extend %title;
    }
    .mainPlayCordobaLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainPlayCordobaLottery__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}

/*End mainPlayCordobaLottery__title class*/