/*------------------------------MAIN-ResultNationalLottery------------------------------*/
/*Start mainResultNationalLottery__title class*/
@import '../base/variables';
@import '../base/reset';
//----------------------------------------------------
main{
    .mainResultNationalLottery__title{
        width: auto;
        height: auto;
        background: url(../multimedia/img/clover.jpg);
        color: #ffffff;
        font-family: $fonst1;
        font-size: 5rem;
        text-align: center;
        text-shadow: #000000 .5rem .5rem .4rem;
        margin: 1rem 0;
        padding: 2rem;
    }
    .mainResultNationalLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainResultNationalLottery__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainResultNationalLottery__title class*/