/*------------------------------MAIN-ResultSantaFeLottery------------------------------*/
/*Start mainResultSantaFeLottery__title class*/
@import '../base/variables';

main{
    .mainResultSantaFeLottery__title{
        @extend %title;
    }
    .mainResultSantaFeLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainResultSantaFeLottery__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainResultSantaFeLottery__title class*/