/*------------------------------MAIN-ResultBrinco------------------------------*/
/*Start mainResultBrinco__title class*/
@import '../base/variables';

main{
    .mainResultBrinco__title{
        @extend %title;
    }
    .mainResultBrinco__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainResultBrinco__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}

/*End mainResultBrinco__title class*/