/*------------------------------MAIN-ResultLottoPlus------------------------------*/
/*Start mainResultLottoPlus__title class*/
@import '../base/variables';

main{
    .mainResultLottoPlus__title{
        @extend %title;
    }
    .mainResultLottoPlus__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainResultLottoPlus__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}
/*End mainResultLottoPlus__title class*/