/*------------------------------MAIN-ResultCityLottery------------------------------*/
/*Start mainResultCityLottery__title class*/
@import '../base/variables';

main{
    .mainResultCityLottery__title{
        @extend %title;
    }
    .mainResultCityLottery__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        margin-bottom: 1em;
        background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452)), url(../multimedia/img/background-Resultado.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        a{
            .mainResultCityLottery__img{
                border-radius: 1em;
                width: auto;
                height: 40em;

                @media (max-width: 450px){
                    width: 40em;
                    height: 40em;
                }
    
                @media (min-width: 451px) and (max-width: 600px){
                    width: 45em;
                    height: 45em;
                }
            }
        }
    }
}
/*End mainResultCityLottery__title class*/