/*------------------------------MAIN-ResultQuini6------------------------------*/
/*Start mainResultQuini6__title class*/
@import '../base/variables';

main{
    .mainResultQuini6__title{
        @extend %title;
    }
    .mainResultQuini6__imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50em;
        background: url(../multimedia/img/matrixGif.gif);
        a{
            .mainResultQuini6__img{
                border-radius: 1em;
                width: auto;
                height: 30em;
            }
        }
    }
}

/*End mainResultQuini6__title class*/