/*my font*/

@font-face{
    src: url(../../../TuMejorJugada/fonts/PT_Serif/PTSerif-Bold.ttf);
    font-family: 'PT Serif', serif;
}
@font-face{
    src: url(../../../TuMejorJugada/fonts/Koulen/Koulen-Regular.ttf);
    font-family: 'Koulen', cursive;
}